<div class="console-main">
    <h2>Container App Console</h2>
    <div style="width: 50%;">
        <mat-form-field>
            <mat-label>Choose Container</mat-label>
            <mat-select [value]="selectedContainerId" (selectionChange)="selectContainer($event)">
                <mat-option *ngFor="let container of containers" [value]="container.Pid">
                    {{container.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div #console [innerHTML]="consoleText" class="console console-content"></div>
        <div class="console" style="display: flex; justify-content:space-between;">
            <label for="input-command">></label>
            <input class="console console-input" id="input-command" type="text" [(ngModel)]="command"
                (keyup.enter)="onCommandEnter()" autocomplete="off">
        </div>
    </div>
</div>