.console-main {
    padding-top: 5vh;
    padding-left: 10vw;
    font-size: 17px;
    line-height: 24px;
}
.console {
    background-color: black;
    color: aliceblue;
    padding: 0px 5px;
}

.console-input {
    outline: none;
    flex: 60%;
}

.console-content {
    height:750px;
    overflow-y: auto;
}