.console-main {
    padding-top: 5vh;
    padding-left: 10vw;
    font-size: 17px;
    line-height: 24px;

    h1{
        height: 21px;
        margin-left: -3px;
    }

    .xterm {
        height:750px;
    }

    input{
        width: 1000px;
    }
}
.terminal-outer {

    margin-top: 15px;
}

.console-input {
    outline: none;
    flex: 60%;
    font-size: 17px;
}

